<div class="container">
  <div class="jumbotron special">
    <h1>予約ノート</h1>
  </div>
<div class="col-xs-6">
  <%= button_to '使いたい装置を探す', search_path, class: 'btn btn-primary btn-lg', method: :get %>

</div>
<div class="col-xs-6">
  <%= button_to '装置予約ノートを作る', newnote_path, class: 'btn btn-primary btn-lg', method: :get %>

</div>

</div>
