<div class="container">
  <div class="jumbotron special">
    <h1>装置予約ノートを作成する</h1>
  </div>

  <div id="first-form-section">
    <%= form_for(@item) do |f| %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.submit "予約ノート作成", class: "btn btn-lg btn-primary pull-right" %>
    <% end %>
  </div>
  <div id="description-section">
  </div>
</div>
