<div class="container search-form">
  <div class="jumbotron special">
    <h1>装置をさがす</h1>
  </div>
  <%= form_for @search_form, as: 'search', url: :search, html: {method: :get} do |f| %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.submit "検索", class: "btn btn-lg btn-primary pull-right" %>

  <% end %>

</div>

<%= render partial: 'shared/items_list',
  locals: {items: @items,
  div_tag_name: 'search_results'} %>
