<div class="container">
  <div class="">
    <%= image_tag(@knowledge.webimage_url,
     alt: 'knowledge', class: 'img-rounded img-responsive center-block') %>
  </div>
  <div class="item-header well-lg">
    <%= auto_link(simple_format(@knowledge.message), html: { target: '_blank' }, link: :urls)   %>
  </div>
  <%= link_to "編集する", edit_knowledge_path(uuid: @knowledge.uuid), class: "btn btn-primary" %>

</div>
